.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 120px;
  position: absolute;
  border: none;
  bottom: 10%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.dislike {
  left: 1%;
  background: #E53935;
}

.dislike::after {
  content: "\f165";
}

.like {
  right: 1%;
  background: #43A047;
}

.like::after {
  content: "\f164";
}

.like:hover::after, .dislike:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }

   50% {
    font-size: 28px;
  }

  100% {
    font-size: 24px;
  }
}