
#contact{
  margin: 50px 0;
}

#contact-form{
  display: flex;
  flex-direction: column;
}

#submit-input{
  width: 100px;
}

body{
  background: url('../assets/space-bg.jpeg');
}

h1, h2, p, a {
  color: white;
}

h2{
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.app-container{
  height: 100vh;
}